</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
<%  let date =  new Date().getFullYear();%>
<% console.log(date); %>

  <p>Copyright © <%= date %> </p>
</footer>
</body>

</html>